__pycache__/
.git/
accounts.txt
settings.toml
/.vscode
fastprox.txt
spoof.cpp
/lib/Detours
/.vs
spoof.exe
spoof.ilk
spoof.obj
spoof.pdb
vc140.pdb
app.manifest
hook_log.txt
spoof.exp
spoof.lib
*.cpp
*.exe
*.manifest
*.obj
*.dll
